@import './colors';

.error-container {
    margin: 0 auto;
    min-width: 1200px;
    background-color: violet;
    border: 1px solid chocolate;
    height: 70vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin-top: 1rem;
    }

}